
<h1>{{title}}</h1>

<form action = '/{{id}}' method= "POST">
<input type='text' name='title'>
<br><br>
<input type='submit' value='Edit Task'>
<input type='reset'>
</form>


<a href= '/'>Return to List</a>
